/* Messages view */
@import "../variables";
@import "../breakpoints";

// Hide filter wrapper under body.
#privatemsg-new{
  .filter-wrapper{
    display: none!important;
  }
}

.page-messages{

  .section-content{
    display: block;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 35px;

    form {
      display: block;
      margin-bottom: 30px;

      > div{
        display: block;
        position: relative;
        width: 100%;

        .form-actions{
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 42px;
          width: 50px;
          right: 0;
          bottom: 0;
          border-radius: $br-9px;

          input{
            display: block;
            width: 50px;
            height: 42px;
            background: none;
            cursor: pointer;
            border-radius: $br-9px;
            z-index: 2;
          }

          &:before{
            content: "\e927";
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            font-family: $marche;
            font-size: 35px;
            top: 0;
            height: 42px;
            width: 50px;
            color: #D4D4D4;
            border-radius: $br-9px;
            z-index: 1;
            transition: .3s;
          }

          &:hover:before{
            transition: .3s;
            color: $header;
          }
        }
      }
    }
  }

  textarea{
    height: 42px;
    width: calc(100% - 55px);
    margin-left: 55px;
    border: 1px solid #59627380;
    box-sizing: border-box;
    border-radius: $br-9px;
    color: #171718;
    font-family: $text-400!important;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    padding: 10px 50px 10px 20px;
    resize: none;
    outline: none;
    -moz-appearance: none;

    &:focus{
      border: 1px solid $header;
    }
  }

  .form-textarea-2{
    min-height: 42px;
    margin: 0;
    border: 1px solid #59627380;
    box-sizing: border-box;
    border-radius: $br-9px;
    color: #171718;
    font-family: $text-400!important;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    padding: 10px 50px 10px 20px;
    outline: none;
    -moz-appearance: none;

    &:focus{
      border: 1px solid $header;
    }
  }
}

.privatemsg-author-avatar{
  float: none;
  width: 35px;
  padding-top: 0;

  a{
    img{
      width: 35px;
      height: auto;
      border-radius: 50%;
    }
  }
}

.page-messages-view{
  .section-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 35px;
  }

  .cke_top{
    overflow: initial;
  }

  .cke_contents{
   overflow: inherit;
  }
}

.privatemsg-message{
  display: flex;
  max-width: 100%;
  margin-bottom: 30px;

  .privatemsg-message-column{
    margin-bottom: 0;
    float: none;
    width: calc(100% - 35px);
    padding-left: 20px;
  }
}

div .privatemsg-message-information{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
  margin-bottom: 10px;
}

.privatemsg-author-name{
  font-family: $text-400;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-decoration: underline;
  color: #017A61;
  padding-right: 0;

  a{
    font-family: $text-400;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration: underline;
    color: #017A61;
  }
}

.privatemsg-message-date{
 padding-right: 0;
  font-family: $text-400;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #B6B6B6;
}

.privatemsg-message-body{
  display: block;
  width: 100%;
  margin-left: 0;

  p{
    display: block;
    width: 100%;
    word-break: break-all;
    font-family: $text-400;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #171718;
  }
}
