// Breakpoints
$phone-mini     : 'max-width: 320px';
$phone          : 'max-width: 480px';
$tablet         : 'min-width: 481px';
$ipad           : 'min-width: 768px';
$ipad-pro       : 'min-width: 1024px';
$desktop1200    : 'min-width: 1200px';
$desktop        : 'min-width: 1300px';
$big1600        : 'min-width: 1600px';
