// Variables color
$white           : #FFFFFF;
$black           : #000000;
$text_color      : #171718;
$header          : #017A61;
$header_mobile   : #FCD216;

// Variables Fonts
$text-300   : 'Mulish-Light';
$text-400   : 'Mulish-Regular';
$text-700   : 'Mulish-Bold';
$new-marche : 'new-marche';
$marche     : 'marche';

// Other variables
$br-9px      : 9px;

