/* Section content filter */
@import "../variables";
@import "../breakpoints";


.views-exposed-widget .label-filter {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #494949
}

.form-select {
  background: #BBDFD8;
  border-radius: 10px;
}

.views-submit-button {
  background: #017A61;
  border-radius: 10px;
}
