/* saNode gallery */
@import "../variables";
@import "../breakpoints";

.node-submit-an-ad{
  display: block;

  .owl-carousel{
    position: inherit;
  }

  .view-views-slideshow-ad{
    display: block;
    width: auto;
    position: relative;
  }

  #views_slideshow_cycle_main_views_slideshow_ad-block_1{
    display: block;
    margin-bottom: 30px;
  }

  .views-row{
    display: block;
    width: 100%;
    border-radius: 10px;

    .views-field-field-photos{
      display: block;
      width: 100%;
        a{
          display: block;
          width: 100%;
        }

        img{
          display: block;
          width: 100% !important;
          height: auto;
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
          border-radius: 10px;
        }
    }
  }

  #views_slideshow_cycle_div_views_slideshow_ad-block_1_0{
    display: block;
    width: 100%;
  }

  .views-slideshow-pager-fields{
    > div{
      display: inherit;
      padding-left: 0;
    }
  }

  // Paginator
  .views-slideshow-controls-bottom{

    .owl-stage{
      display: flex;
      width: 100%;
      margin-bottom: 30px;

      .owl-item{
        display: block;
      }

      .views-content-field-photos{
        display: block;
        height: 65px;
        margin:0  5px;

        img{
          width: 100%;
          height: 100%;
          border: none;
          object-fit: cover;
          max-width: inherit;
          max-height: inherit;
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
          border-radius: 10px;
        }
      }
    }
  }

  #views_slideshow_controls_text_views_slideshow_ad-block_1{
    position: absolute;
    top: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: calc(100% - 125px);

    span{
      position: absolute;
      display: block;
      width: 35px;
      height: 35px;
      z-index: 20;
      top: 50%;
      padding: 0;
      overflow: hidden;
      transform: translateY(-50%);

      a{
        display: block;
        width: 100%;
        height: 100%;
        text-indent: 200px;

        &:before{
          content: '\e90c';
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: $marche;
          color: $header;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          font-size: 25px;
          text-indent: 0;
        }
      }
    }

    .views_slideshow_controls_text_pause{
      display: none;
    }
    .views-slideshow-controls-text-next{
      right: -35px;
    }

    .views-slideshow-controls-text-previous{
      left: -35px;

      a{
        &:before{
          transform: rotate(180deg);
        }
      }
    }
  }

  // Arrow paginator
  #widget_pager_bottom_views_slideshow_ad-block_1{
    display: block;
    width: 100%;
    z-index: 10;
    position: relative;
  }

  .owl-dots{
    display: none!important;
  }

  .owl-nav{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    button{
      position: absolute;
      display: block;
      width: 35px;
      height: 35px;
      padding: 10px 0;
      z-index: 20;
      bottom: calc(50% + 45px);

      &:before{
        content: '\e90c';
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $marche;
        color: $header;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        font-size: 25px;
      }
    }

    .disabled{
      display: none!important;
    }

    .owl-prev{
      left: -35px;

      &:before{
        transform: rotate(180deg);
      }
    }

    .owl-next{
      right: -35px;
    }
  }
}

.one-slide{
  display: none!important;
}

// Media
@media only screen and ($ipad) {
  .node-submit-an-ad{
    .view-views-slideshow-ad{
      width: 40%;
    }
  }
}

@media only screen and ($ipad-pro) {
  .node-submit-an-ad{
    .views-slideshow-controls-bottom {
      .owl-stage{
        .views-content-field-photos{
          height: 80px;
        }
      }
    }
  }

}
